# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules

.idea

apertos-frontend/node_modules
apertos-frontend/package-lock.json
apertos-frontend/test/unit/coverage
apertos-frontend/dist

ckan-adapters/node_modules
ckan-adapters/package-lock.json
